:root {
	color-scheme: light dark;

	--light: rgb(255 230 209);
	--dark: color-mix(in oklab, rgb(0, 0, 0), var(--light) 18.22%);

	/* For Debugging */
	/* --light: white; */
	/* --dark: blue; */
	/* --background2: color-mix(in oklab, var(--ref1), var(--ref2) 100%); */

	--ref1: light-dark(var(--light), var(--dark));
	--ref2: light-dark(var(--dark), var(--light));

	--background: color-mix(in oklab, var(--ref1), var(--ref2) 5%);
	--foreground: color-mix(in oklab, var(--ref1), var(--ref2) 85%);

	--background2: color-mix(in oklab, var(--ref1), var(--ref2) 0.5%);

	--backgroundFinal: linear-gradient(in oklab, var(--background), var(--background2));
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

body {
	font-family: 'DM Mono';
	font-size: 14px;

	padding: 10px;
	line-height: 1.3;

	/* Canvas: 18, CanvasText: 255 */
	/* https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/system-color */
	color: var(--foreground);
	background: var(--backgroundFinal);
	background-repeat: no-repeat;
}

textarea {
	width: 95%;
}

form {
	font-weight: bold;
	line-height: 1.3;
}

table, th, td {
	border-collapse: collapse;
	text-align: center;
	vertical-align: middle;
	background-clip: padding-box;
	border: 2px solid var(--background);
	background: color-mix(in oklab, transparent, var(--foreground) 5%);
}

td {
	line-height: 0%;
}

img {
	image-rendering: pixelated;
	image-rendering: -moz-crisp-edges;
}

label {
	position: relative;
	left: 5px;

	display: inline-block;
	vertical-align: middle;
}

input {
	vertical-align: middle;
}

hr {
	border: 1.5px solid var(--foreground);
	width: calc(100% + 20px);
	padding: none;
	position: relative;
	left: -10px;
	border-collapse: collapse;
}